name: PR

on:
  pull_request: {}

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: "1.20.2"
        cache: true
    - run: "go run ./ci"
